.gallery_viewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.photo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;

  img {
    max-width: 100%;
  }
}

.photo_wrapper {
  position: relative;

  &-title {
    position: absolute;
    background-color: black;
    color: white;
    padding: 7px;
    bottom: 10px;
    left: 10px;
  }
}

.left_button, .right_button {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  height: 100%;
  width: 50px;

  &:hover {
    background-color: rgba(62, 62, 62, 0.75);
    cursor: pointer;
  }
}

.left_button img {
  transform: rotate(-180deg);
}

.hide_button {
  visibility: hidden !important;
}
